fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.5
torch==2.5.1
networkx==3.4.2
stable-baselines3==2.4.0
gymnasium==1.0.0
shimmy==2.0.0
langchain==0.3.14
langchain-groq==0.2.1
langchain-huggingface==0.1.2
huggingface-hub==0.27.0
sentence-transformers==3.3.1
